# 1º) CONEXION SQL PARA BBDD PARADAS DE BICIS

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd
import requests
import numpy as np

sqlalchemy.__version__

'1.4.32'

In [ ]:
#connection_string = 'mysql+pymysql://ironhack_user:%Vq=c>G5@173.201.189.217/BiciMAD'
#connection_string

In [ ]:
#engine = create_engine(connection_string)

In [ ]:
#inspector = inspect(engine)
#inspector.get_table_names()

In [ ]:
#df = pd.read_sql_query("SELECT * FROM bicimad_stations", engine)
#df

In [2]:
url_csv_bic= '../datasets/bicimad_stations.csv'

In [3]:
df = pd.read_csv(url_csv_bic, sep=',')

In [4]:
df.head()

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]"
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]"
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]"
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]"

In [5]:
#df con la información que necesitamos

df_bic = df[['name', 'address', 'geometry.coordinates']]
df_bic

,name,address,geometry.coordinates
0,1a - Puerta del Sol A,Puerta del Sol nº 1,"[-3.7018341, 40.4172137]"
1,1b - Puerta del Sol B,Puerta del Sol nº 1,"[-3.701602938060457, 40.41731271011562]"
2,2 - Miguel Moya,Calle Miguel Moya nº 1,"[-3.7058415, 40.4205886]"
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,"[-3.7069171, 40.4302937]"
4,4 - Malasaña,Calle Manuela Malasaña nº 5,"[-3.7025875, 40.4285524]"
...,...,...,...
259,257 - INEF,Avenida Juan de Herrera frente a la calle Paul...,"[-3.72997, 40.43896]"
260,258 - Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72699, 40.44375]"
261,259 - Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72693, 40.44342]"
262,260 - Facultad Biología,Calle José Antonio Novais frente al nº 12,"[-3.7272945, 40.4483322]"
263,261 - Facultad Derecho,Avenida Complutense nº 23,"[-3.72937, 40.45109]"

In [6]:
df_bic[['location.longitude.bic', 'location.latitude.bic']]= df_bic['geometry.coordinates'].str.split(',', expand=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_19980\604205475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bic[['location.longitude.bic', 'location.latitude.bic']]= df_bic['geometry.coordinates'].str.split(',', expand=True)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_19980\604205475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bic[['location.longitude.bic', 'location.latitude.bic']]= df_bic['geometry.coordinates'].str.split(',', expand=True)

In [7]:
df_bic['location.longitude.bic'] = df_bic['location.longitude.bic'].apply(lambda x: float(x[1:]))
df_bic['location.latitude.bic'] = df_bic['location.latitude.bic'].apply(lambda x: float(x[:-1]))

C:\Users\Usuario\AppData\Local\Temp\ipykernel_19980\314766187.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bic['location.longitude.bic'] = df_bic['location.longitude.bic'].apply(lambda x: float(x[1:]))
C:\Users\Usuario\AppData\Local\Temp\ipykernel_19980\314766187.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bic['location.latitude.bic'] = df_bic['location.latitude.bic'].apply(lambda x: float(x[:-1]))

### DF DEFINITIVO PARADAS DE BICIS = df_bic

In [8]:
df_bic = df_bic[['name', 'address', 'location.latitude.bic', 'location.longitude.bic']]
df_bic

,name,address,location.latitude.bic,location.longitude.bic
0,1a - Puerta del Sol A,Puerta del Sol nº 1,40.417214,-3.701834
1,1b - Puerta del Sol B,Puerta del Sol nº 1,40.417313,-3.701603
2,2 - Miguel Moya,Calle Miguel Moya nº 1,40.420589,-3.705842
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,40.430294,-3.706917
4,4 - Malasaña,Calle Manuela Malasaña nº 5,40.428552,-3.702587
...,...,...,...,...
259,257 - INEF,Avenida Juan de Herrera frente a la calle Paul...,40.438960,-3.729970
260,258 - Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,40.443750,-3.726990
261,259 - Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,40.443420,-3.726930
262,260 - Facultad Biología,Calle José Antonio Novais frente al nº 12,40.448332,-3.727295
263,261 - Facultad Derecho,Avenida Complutense nº 23,40.451090,-3.729370

# 2º) CONEXIÓN API MONUMENTOS DE MADRID

In [9]:
endpoint = 'https://datos.madrid.es/egob'
url = '/catalogo/300356-0-monumentos-ciudad-madrid.json'
response = requests.get(endpoint + url)
#response
#print(type(response))

In [ ]:
status = response.status_code
status

In [39]:
json_data = response.json()
print(type(json_data['@graph']))
#print(len(json_data))
#json_data.keys()

<class 'list'>

In [11]:
df = pd.DataFrame(pd.json_normalize(json_data['@graph']))
#df.head(5)

In [ ]:
#ojo que hay nulos en localizaciones que será clave para obtener luego la más cercana.

dfm.info()

In [ ]:
#Revisando los valores nulos de la tabla

null_cols = dfm.isnull().sum()
null_cols[null_cols > 0]

### DF DEFINITIVO MONUMENTOS MADRID = df_monu

In [12]:
# vamos a crear un df con las columnas e información que nos interesan eliminando todos aquellos destinos que no tengan
# coordenadas.

df_monu = dfm[['title', 'address.street-address', 'location.latitude' , 'location.longitude']]
df_monu = df_monu.dropna()

In [ ]:
df_monu.info()

# 3º) DISTANCIA MENOR ENTRE PUNTOS

### Funciones facilitadas

In [13]:
from shapely.geometry import Point
import geopandas as gpd   # conda install -c conda-forge geopandas

In [14]:
def to_mercator(lat, long):
    # transform latitude/longitude data in degrees to pseudo-mercator coordinates in metres
    c = gpd.GeoSeries([Point(lat, long)], crs=4326)
    c = c.to_crs(3857)
    return c

def distance_meters(lat_start, long_start, lat_finish, long_finish):
    # return the distance in metres between to latitude/longitude pair point in degrees (i.e.: 40.392436 / -3.6994487)
    start = to_mercator(lat_start, long_start)
    finish = to_mercator(lat_finish, long_finish)
    return start.distance(finish)

### Test de las funciones

In [ ]:
to_mercator(df_bic['location.latitude.bic'][0], df_bic['location.longitude.bic'][0])

In [ ]:
to_mercator(df_monu['location.latitude'][0], df_monu['location.longitude'][0])

In [ ]:
distance_meters(df_monu['location.latitude'][0], df_monu['location.longitude'][0], df_bic['location.latitude.bic'][0], df_bic['location.longitude.bic'][0])

### Magia

In [ ]:
%%time

df_nuevo = df_monu.head(1)
df_test = pd.concat([df_nuevo, df_bic], axis=1).ffill()
df_test['Distancia'] = df_test.apply(lambda x: distance_meters(x['location.latitude'], x['location.longitude'], x['location.latitude.bic'], x['location.longitude.bic']), axis=1)
zz = df_test.sort_values(by = 'Distancia')

In [ ]:
zz.head(5)

In [ ]:
%%time

df_nuevo = df_monu.head(2)
df_test = pd.concat([df_nuevo, df_bic], axis=1).ffill()
df_test['Distancia'] = df_test.apply(lambda x: distance_meters(x['location.latitude'], x['location.longitude'], x['location.latitude.bic'], x['location.longitude.bic']), axis=1)
zz2 = df_test.sort_values(by = 'Distancia')

In [ ]:
zz2.head()

In [15]:
df_bic['key'] = 0
df_monu['key'] = 0

In [16]:
df_pre = df_bic.merge(df_monu, on='key', how='left')#, lsuffix= '_1', rsuffix= '_2')

In [ ]:
%%time

#df_pre['Distancia'] = df_pre.apply(lambda x: distance_meters(x['location.latitude'], x['location.longitude'], 
                                                            # x['location.latitude.bic'], x['location.longitude.bic']), axis=1)

In [ ]:
#data = df_pre.to_csv('../datasets/df.csv', index=False)

### Ya tenemos el DF_pre guardado

In [17]:
url_df_pre = '../datasets/df.csv'

In [18]:
df_def = pd.read_csv(url_df_pre, sep=',')

In [ ]:
df_def.head()

In [19]:
zz5 = df_def.sort_values(by = ['title', 'Distancia']).rename(columns={'title':'Place of Interest', 
                                                                      'address.street-address':'Place address',
                                                                     'name':'BiciMAD station',
                                                                      'address':'Station Location'})


zz5['Type of place'] = np.nan
zz5['Type of place'] = zz5['Type of place'].fillna('Monumento de la ciudad de Madrid')
df_final = zz5[['Place of Interest', 'Type of place', 'Place address', 'BiciMAD station', 'Station Location']] #.info()
df_final

,Place of Interest,Type of place,Place address,BiciMAD station,Station Location
410370,A Neruda-El Ser alado,Monumento de la ciudad de Madrid,Gta José Luis Ozores 116,227 - Concordia,Calle Arroyo del Olivar nº 6
408578,A Neruda-El Ser alado,Monumento de la ciudad de Madrid,Gta José Luis Ozores 116,226 - Sierra Toledana,Camino de Valderribas nº 94
406786,A Neruda-El Ser alado,Monumento de la ciudad de Madrid,Gta José Luis Ozores 116,225 - Doctor Lozano,Calle Sierra Toledana nº 33
324354,A Neruda-El Ser alado,Monumento de la ciudad de Madrid,Gta José Luis Ozores 116,179 - Puente de Vallecas,Avenida de la Albufera nº 6
397826,A Neruda-El Ser alado,Monumento de la ciudad de Madrid,Gta José Luis Ozores 116,220 - Plaza del Encuentro,Calle Arroyo de las Pilillas nº 6
...,...,...,...,...,...
392447,Órgano,Monumento de la ciudad de Madrid,C Castelló 77,216 - Puerta del Ángel,Plaza Puerta del Ángel nº 4
394239,Órgano,Monumento de la ciudad de Madrid,C Castelló 77,217 - Pedro Rico,Calle Pedro Rico nº 4
473087,Órgano,Monumento de la ciudad de Madrid,C Castelló 77,261 - Facultad Derecho,Avenida Complutense nº 23
406783,Órgano,Monumento de la ciudad de Madrid,C Castelló 77,224 - Caramuel,Calle Caramuel nº 51
401407,Órgano,Monumento de la ciudad de Madrid,C Castelló 77,221 - Pavones,Calle Hacienda de Pavones nº 342

In [ ]:
#función para dejar la columna de BiciMAD station limpia

def spl(x):
    x = x.split('-')[1]
    return x

### Dataframe Final

In [22]:
df_final['BiciMAD station'] = df_final['BiciMAD station'].apply(lambda x: x.split('-')[1])
df_final

C:\Users\Usuario\AppData\Local\Temp\ipykernel_19980\3431307281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['BiciMAD station'] = df_final['BiciMAD station'].apply(lambda x: x.split('-')[1])

,Place of Interest,Type of place,Place address,BiciMAD station,Station Location
410370,A Neruda-El Ser alado,Monumento de la ciudad de Madrid,Gta José Luis Ozores 116,Concordia,Calle Arroyo del Olivar nº 6
408578,A Neruda-El Ser alado,Monumento de la ciudad de Madrid,Gta José Luis Ozores 116,Sierra Toledana,Camino de Valderribas nº 94
406786,A Neruda-El Ser alado,Monumento de la ciudad de Madrid,Gta José Luis Ozores 116,Doctor Lozano,Calle Sierra Toledana nº 33
324354,A Neruda-El Ser alado,Monumento de la ciudad de Madrid,Gta José Luis Ozores 116,Puente de Vallecas,Avenida de la Albufera nº 6
397826,A Neruda-El Ser alado,Monumento de la ciudad de Madrid,Gta José Luis Ozores 116,Plaza del Encuentro,Calle Arroyo de las Pilillas nº 6
...,...,...,...,...,...
392447,Órgano,Monumento de la ciudad de Madrid,C Castelló 77,Puerta del Ángel,Plaza Puerta del Ángel nº 4
394239,Órgano,Monumento de la ciudad de Madrid,C Castelló 77,Pedro Rico,Calle Pedro Rico nº 4
473087,Órgano,Monumento de la ciudad de Madrid,C Castelló 77,Facultad Derecho,Avenida Complutense nº 23
406783,Órgano,Monumento de la ciudad de Madrid,C Castelló 77,Caramuel,Calle Caramuel nº 51
401407,Órgano,Monumento de la ciudad de Madrid,C Castelló 77,Pavones,Calle Hacienda de Pavones nº 342

In [ ]:
df_final['Place of Interest'].unique()

### Opción 1 donde el usuario elige un punto de interés en concreto

In [ ]:
def select_point_of_interest(x, y): # en X entrará el nombre del punto de interés. La Y en número de estaciones cercanas.
    is_poi = df_final.loc[:, 'Place of Interest'] == x # zz5 cambialo por el nombre de tu dataframe. El resto se puede quedar igual
    df_poi = df_final.loc[is_poi]
    df_poi = df_poi.reset_index(drop=True)
    return df_poi.head(y) # si solo quieres el punto más cercano pon un 1 y sino 3 para los 3 más cercanos

In [ ]:
select_point_of_interest('A las víctimas del Holocausto', 2)

### Opción 2 donde se muestran las estaciones más cercanas a cada punto de interés

In [ ]:
test = df_final.loc[:, 'Place of Interest'] == 'A Neruda-El Ser alado'
test1 = df_final.loc[test]
test1 = test1.reset_index(drop=True)
test1 = test1.head(0)
test1

In [ ]:
test_2 = df_final.loc[:, 'Place of Interest'] == 'A las víctimas del Holocausto'
test2 = df_final.loc[test_2]
test2 = test2.reset_index(drop=True)
test2 = test2.head(1)
test2

In [ ]:
ff = test1.append(test2, ignore_index=True)
ff

In [ ]:
test_3 = df_final.loc[:, 'Place of Interest'] == 'A los Abuelos'
test3 = df_final.loc[test_3]
test3 = test3.reset_index(drop=True)
test3 = test3.head(1)
test3

In [ ]:
ff = ff.append(test3, ignore_index=True)
ff

In [ ]:
poi_uniques = df_final['Place of Interest'].unique().tolist()
#poi_uniques

In [ ]:
%%time

for i in poi_uniques:
    test_2 = df_final.loc[:, 'Place of Interest'] == i
    test2 = df_final.loc[test_2]
    test2 = test2.reset_index(drop=True)
    test2 = test2.head(3)
    test1 = test1.append(test2, ignore_index=True)
test1.head()

# 4º RESUMEN FINAL

## PIPELINE SECUENCIAL

### Conexción y manipulación de Data Frame final de bicis

In [ ]:
#ip #crear una función que le indique desde qué ip conectarse (clase=173.201.189.217 , casa=92.172.38.71)
#connection_string = 'mysql+pymysql://ironhack_user:%Vq=c>G5@173.201.189.217/BiciMAD'
#engine = create_engine(connection_string)
#inspector = inspect(engine)
#dfb = pd.read_sql_query("SELECT * FROM bicimad_stations", engine)
url_csv_bic= '../datasets/bicimad_stations.csv' # esto se tendría que desconectar si pudiéramos conectarnos en clase
dfb = pd.read_csv(url_csv_bic, sep=',') # esto se tendría que desconectar si pudiéramos conectarnos en clase
df_bic = dfb[['name', 'address', 'geometry.coordinates']]
df_bic[['location.longitude.bic', 'location.latitude.bic']]= df_bic['geometry.coordinates'].str.split(',', expand=True)
df_bic['location.longitude.bic'] = df_bic['location.longitude.bic'].apply(lambda x: float(x[1:]))
df_bic['location.latitude.bic'] = df_bic['location.latitude.bic'].apply(lambda x: float(x[:-1]))
df_bic = df_bic[['name', 'address', 'location.latitude.bic', 'location.longitude.bic']]

### Conexión y manipulación de Data Frame Monumentos de Madrid

In [ ]:
endpoint = 'https://datos.madrid.es/egob'
url = '/catalogo/300356-0-monumentos-ciudad-madrid.json'
response = requests.get(endpoint + url)
json_data = response.json()
dfm = pd.DataFrame(pd.json_normalize(json_data['@graph']))
df_monu = dfm[['title', 'address.street-address', 'location.latitude' , 'location.longitude']]
df_monu = df_monu.dropna()

### Merge entre ambos DataFrames

In [ ]:
df_bic['key'] = 0
df_monu['key'] = 0
df_pre = df_bic.merge(df_monu, on='key', how='left')

### Aplicación de mercator a todos los valores posibles y creación de CSV Final para realizar las consultas

In [ ]:
#df_pre['Distancia'] = df_pre.apply(lambda x: distance_meters(x['location.latitude'], x['location.longitude'], 
                                                            # x['location.latitude.bic'], x['location.longitude.bic']), axis=1)
#data = df_pre.to_csv('../datasets/df.csv', index=False)

### Manipulación de Dataframe Final para la obtención de los resultados requeridos

In [ ]:
url_df_pre = '../datasets/df.csv'
df_def = pd.read_csv(url_df_pre, sep=',')
zz5 = df_def.sort_values(by = ['title', 'Distancia']).rename(columns={'title':'Place of Interest', 
                                                                      'address.street-address':'Place address',
                                                                     'name':'BiciMAD station',
                                                                      'address':'Station Location'})
zz5['Type of place'] = np.nan
zz5['Type of place'] = zz5['Type of place'].fillna('Monumento de la ciudad de Madrid')
df_final = zz5[['Place of Interest', 'Type of place', 'Place address', 'BiciMAD station', 'Station Location']]
df_final['BiciMAD station'] = df_final['BiciMAD station'].apply(lambda x: x.split('-')[1])

### Opción 1 donde el usuario indica un lugar de interés específico

In [ ]:
is_poi = df_final.loc[:, 'Place of Interest'] == 'A los Abuelos'
df_poi = df_final.loc[is_poi]
df_poi = df_poi.reset_index(drop=True)
df_poi.head(1)
csv_poi = df_poi.head(1).to_csv('../datasets/specific_point_of_interest.csv', index=False)

### Opción 2 donde el usuario indica listado de todos los puntos de interés con su estación más cercana

In [ ]:
poi_uniques = df_final['Place of Interest'].unique().tolist()
test = df_final.loc[:, 'Place of Interest'] == 'A Neruda-El Ser alado'
test1 = df_final.loc[test]
test1 = test1.reset_index(drop=True)
test1 = test1.head(0)
for i in poi_uniques:
    test_2 = df_final.loc[:, 'Place of Interest'] == i
    test2 = df_final.loc[test_2]
    test2 = test2.reset_index(drop=True)
    test2 = test2.head(3)
    test1 = test1.append(test2, ignore_index=True)
test1.head()
csv_full = test1.to_csv('../datasets/all_points_of_interests.csv', index=False)

## PIPELINE FUNCIONAL

### Acquisition

In [40]:
#las dos opciones serían 'mysql' o 'csv' y se podría cambiar el path, query e ip (casa = '92.172.38.71')
def connec_bic(bbdd, path='../datasets/bicimad_stations.csv', query="SELECT * FROM bicimad_stations", ip='173.201.189.217', 
              db='/BiciMAD', root='mysql+pymysql://ironhack_user:', pss='%Vq=c>G5@'): 
    if bbdd == 'mysql':
        connection_string = root+pss+ip+db
        engine = create_engine(connection_string)
        inspector = inspect(engine)
        dfb = pd.read_sql_query(query, engine)
        return dfb
    elif bbdd == 'csv':
        dfb = pd.read_csv(path, sep=',')
        return dfb
    else:
        return 'Por el momento las dos únicas opciones son: mysql o csv'

In [24]:
def connec_mad(endpoint = 'https://datos.madrid.es/egob', url = '/catalogo/300356-0-monumentos-ciudad-madrid.json'):    
    response = requests.get(endpoint + url)
    json_data = response.json()
    dfm = pd.DataFrame(pd.json_normalize(json_data['@graph']))
    return dfm

### Analysis por separado

In [25]:
def analysis1_bic(dfb_ac):
    df_bic = dfb_ac[['name', 'address', 'geometry.coordinates']]
    df_bic[['location.longitude.bic', 'location.latitude.bic']]= df_bic['geometry.coordinates'].str.split(',', expand=True)
    df_bic['location.longitude.bic'] = df_bic['location.longitude.bic'].apply(lambda x: float(x[1:]))
    df_bic['location.latitude.bic'] = df_bic['location.latitude.bic'].apply(lambda x: float(x[:-1]))
    df_bic = df_bic[['name', 'address', 'location.latitude.bic', 'location.longitude.bic']]
    return df_bic

In [26]:
def analysis1_monu(dfm_ac):
    df_monu = dfm_ac[['title', 'address.street-address', 'location.latitude' , 'location.longitude']]
    df_monu = df_monu.dropna()
    return df_monu

### Merge y guardado total distancias

In [27]:
def merge_df(df_bic_an, df_monu_an):
    df_bic_an['key'] = 0
    df_monu_an['key'] = 0
    df_pre = df_bic_an.merge(df_monu_an, on='key', how='left')
    return df_pre

In [29]:
def save_df_dis(df_pre_mer):
    df_pre_mer['Distancia'] = df_pre_mer.apply(lambda x: distance_meters(x['location.latitude'], x['location.longitude'], 
                                                                 x['location.latitude.bic'], 
                                                                 x['location.longitude.bic']), axis=1)
    data = df_pre_mer.to_csv('../datasets/df.csv', index=False)
    return data

### Manipulación DF definitivo

In [30]:
def post_accq(url='../datasets/df.csv'):
    df_def = pd.read_csv(url, sep=',')
    return df_def

In [31]:
def reorganize_clean (df, head=['title', 'Distancia']):
    zz5 = df.sort_values(by = head).rename(columns={'title':'Place of Interest', 'address.street-address':'Place address',
                                                    'name':'BiciMAD station','address':'Station Location'})
    zz5['Type of place'] = np.nan
    zz5['Type of place'] = zz5['Type of place'].fillna('Monumento de la ciudad de Madrid')
    df_final = zz5[['Place of Interest', 'Type of place', 'Place address', 'BiciMAD station', 'Station Location']]
    df_final['BiciMAD station'] = df_final['BiciMAD station'].apply(lambda x: x.split('-')[1])
    return df_final

### Reporting

In [32]:
def point_interest(df_fin, ask, path='../datasets/specific_point_of_interest.csv'):
    is_poi = df_fin.loc[:, 'Place of Interest'] == ask
    df_poi = df_fin.loc[is_poi]
    df_poi = df_poi.reset_index(drop=True)
    csv_poi = df_poi.head(1).to_csv(path, index=False)
    return df_poi.head(1)

In [33]:
def all_monuments(df_fin, bics=0, path='../datasets/all_points_of_interests.csv'):
    poi_uniques = df_fin['Place of Interest'].unique().tolist()
    df = df_fin.loc[:, 'Place of Interest'] == 'A Neruda-El Ser alado'
    df1 = df_fin.loc[df]
    df1 = df1.reset_index(drop=True)
    df1 = df1.head(0)
    for i in poi_uniques:
        df_2 = df_fin.loc[:, 'Place of Interest'] == i
        df2 = df_fin.loc[df_2]
        df2 = df2.reset_index(drop=True)
        df2 = df2.head(bics)
        df1 = df1.append(df2, ignore_index=True)
    csv_full = test1.to_csv(path, index=False)
    return df1.head()