# 1º) CONEXION SQL PARA BBDD PARADAS DE BICIS

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd
import requests

sqlalchemy.__version__

'1.4.32'

In [2]:
connection_string = 'mysql+pymysql://ironhack_user:%Vq=c>G5@173.201.189.217/BiciMAD'
connection_string

'mysql+pymysql://ironhack_user:%Vq=c>G5@173.201.189.217/BiciMAD'

In [3]:
engine = create_engine(connection_string)

In [4]:
inspector = inspect(engine)
inspector.get_table_names()

['bicimad_stations', 'bicipark_stations']

In [5]:
df = pd.read_sql_query("SELECT * FROM bicimad_stations", engine)
df

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]"
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]"
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]"
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]"
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]"
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]"
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]"
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]"

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    264 non-null    int64
 1   name                  264 non-null    object
 2   light                 264 non-null    int64
 3   number                264 non-null    object
 4   address               264 non-null    object
 5   activate              264 non-null    int64
 6   no_available          264 non-null    int64
 7   total_bases           264 non-null    int64
 8   dock_bikes            264 non-null    int64
 9   free_bases            264 non-null    int64
 10  reservations_count    264 non-null    int64
 11  geometry.type         264 non-null    object
 12  geometry.coordinates  264 non-null    object
dtypes: int64(8), object(5)
memory usage: 26.9+ KB

In [7]:
#df con la información que necesitamos

df_bic = df[['name', 'address', 'geometry.coordinates']]
df_bic

,name,address,geometry.coordinates
0,1a - Puerta del Sol A,Puerta del Sol nº 1,"[-3.7018341, 40.4172137]"
1,1b - Puerta del Sol B,Puerta del Sol nº 1,"[-3.701602938060457, 40.41731271011562]"
2,2 - Miguel Moya,Calle Miguel Moya nº 1,"[-3.7058415, 40.4205886]"
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,"[-3.7069171, 40.4302937]"
4,4 - Malasaña,Calle Manuela Malasaña nº 5,"[-3.7025875, 40.4285524]"
...,...,...,...
259,257 - INEF,Avenida Juan de Herrera frente a la calle Paul...,"[-3.72997, 40.43896]"
260,258 - Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72699, 40.44375]"
261,259 - Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72693, 40.44342]"
262,260 - Facultad Biología,Calle José Antonio Novais frente al nº 12,"[-3.7272945, 40.4483322]"
263,261 - Facultad Derecho,Avenida Complutense nº 23,"[-3.72937, 40.45109]"

In [8]:
#df_bic[['location.longitude','location.latitude']]=df_bic.geometry.coordinates.str.split(',',expand=True)
#df_bic

In [9]:
df_bic[['location.longitude.bic', 'location.latitude.bic']]= df_bic['geometry.coordinates'].str.split(',', expand=True)
df_bic

C:\Users\Usuario\AppData\Local\Temp\ipykernel_21448\3923452401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bic[['location.longitude.bic', 'location.latitude.bic']]= df_bic['geometry.coordinates'].str.split(',', expand=True)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_21448\3923452401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bic[['location.longitude.bic', 'location.latitude.bic']]= df_bic['geometry.coordinates'].str.split(',', expand=True)

,name,address,geometry.coordinates,location.longitude.bic,location.latitude.bic
0,1a - Puerta del Sol A,Puerta del Sol nº 1,"[-3.7018341, 40.4172137]",[-3.7018341,40.4172137]
1,1b - Puerta del Sol B,Puerta del Sol nº 1,"[-3.701602938060457, 40.41731271011562]",[-3.701602938060457,40.41731271011562]
2,2 - Miguel Moya,Calle Miguel Moya nº 1,"[-3.7058415, 40.4205886]",[-3.7058415,40.4205886]
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,"[-3.7069171, 40.4302937]",[-3.7069171,40.4302937]
4,4 - Malasaña,Calle Manuela Malasaña nº 5,"[-3.7025875, 40.4285524]",[-3.7025875,40.4285524]
...,...,...,...,...,...
259,257 - INEF,Avenida Juan de Herrera frente a la calle Paul...,"[-3.72997, 40.43896]",[-3.72997,40.43896]
260,258 - Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72699, 40.44375]",[-3.72699,40.44375]
261,259 - Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,"[-3.72693, 40.44342]",[-3.72693,40.44342]
262,260 - Facultad Biología,Calle José Antonio Novais frente al nº 12,"[-3.7272945, 40.4483322]",[-3.7272945,40.4483322]
263,261 - Facultad Derecho,Avenida Complutense nº 23,"[-3.72937, 40.45109]",[-3.72937,40.45109]

In [10]:
df_bic['location.longitude.bic'] 
df_bic['location.longitude.bic'] = df_bic['location.longitude.bic'].apply(lambda x: float(x[1:]))
df_bic['location.latitude.bic'] = df_bic['location.latitude.bic'].apply(lambda x: float(x[:-1]))

C:\Users\Usuario\AppData\Local\Temp\ipykernel_21448\3728200556.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bic['location.longitude.bic'] = df_bic['location.longitude.bic'].apply(lambda x: float(x[1:]))
C:\Users\Usuario\AppData\Local\Temp\ipykernel_21448\3728200556.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bic['location.latitude.bic'] = df_bic['location.latitude.bic'].apply(lambda x: float(x[:-1]))

### DF DEFINITIVO PARADAS DE BICIS = df_bic

In [11]:
df_bic = df_bic[['name', 'address', 'location.latitude.bic', 'location.longitude.bic']]
df_bic

,name,address,location.latitude.bic,location.longitude.bic
0,1a - Puerta del Sol A,Puerta del Sol nº 1,40.417214,-3.701834
1,1b - Puerta del Sol B,Puerta del Sol nº 1,40.417313,-3.701603
2,2 - Miguel Moya,Calle Miguel Moya nº 1,40.420589,-3.705842
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,40.430294,-3.706917
4,4 - Malasaña,Calle Manuela Malasaña nº 5,40.428552,-3.702587
...,...,...,...,...
259,257 - INEF,Avenida Juan de Herrera frente a la calle Paul...,40.438960,-3.729970
260,258 - Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,40.443750,-3.726990
261,259 - Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,40.443420,-3.726930
262,260 - Facultad Biología,Calle José Antonio Novais frente al nº 12,40.448332,-3.727295
263,261 - Facultad Derecho,Avenida Complutense nº 23,40.451090,-3.729370

# 2º) CONEXIÓN API MONUMENTOS DE MADRID

In [12]:
endpoint = 'https://datos.madrid.es/egob'
url = '/catalogo/300356-0-monumentos-ciudad-madrid.json'
response = requests.get(endpoint + url)
response
print(type(response))

<class 'requests.models.Response'>

In [13]:
status = response.status_code
status

200

In [14]:
json_data = response.json()
print(type(json_data))
print(len(json_data))
json_data.keys()

<class 'dict'>
2

dict_keys(['@context', '@graph'])

In [15]:
df = pd.DataFrame(pd.json_normalize(json_data['@graph']))
df.head(5)

,@id,id,title,relation,references,address.district.@id,address.locality,address.postal-code,address.street-address,location.latitude,location.longitude,organization.organization-desc,organization.organization-name,address.area.@id
0,https://datos.madrid.es/egob/catalogo/tipo/mon...,409634,A las víctimas del Holocausto,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,,JARDIN TRES CULTURAS,40.464322,-3.603558,"La obra, creada por el escultor judío de orige...",A las víctimas del Holocausto,NaN
1,https://datos.madrid.es/egob/catalogo/tipo/mon...,409512,A los Abuelos,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,,C Alicún,40.479812,-3.661719,"Pequeña escultura, situada en un parque delimi...",A los Abuelos,https://datos.madrid.es/egob/kos/Provincia/Mad...
2,https://datos.madrid.es/egob/catalogo/tipo/mon...,408781,A Neruda-El Ser alado,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,,Gta José Luis Ozores 116,40.381855,-3.652419,Monumento dedicado al escritor Pablo Neruda (1...,A Neruda-El Ser alado,https://datos.madrid.es/egob/kos/Provincia/Mad...
3,https://datos.madrid.es/egob/catalogo/tipo/mon...,408836,Abogados Laboristas,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,,C Atocha 55,40.412911,-3.700017,El 24 de enero de 1977 se produjo un atentado ...,Abogados Laboristas,https://datos.madrid.es/egob/kos/Provincia/Mad...
4,https://datos.madrid.es/egob/catalogo/tipo/mon...,408920,Abstracta I,https://patrimonioypaisaje.madrid.es/sites/v/i...,https://patrimonioypaisaje.madrid.es/FrameWork...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,,,40.421746,-3.662293,"La histórica quinta de la Fuente del Berro, de...",Abstracta I,https://datos.madrid.es/egob/kos/Provincia/Mad...

In [16]:
#ojo que hay nulos en localizaciones que será clave para obtener luego la más cercana.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1848 entries, 0 to 1847
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   @id                             1848 non-null   object
 1   id                              1848 non-null   object
 2   title                           1848 non-null   object
 3   relation                        1848 non-null   object
 4   references                      1848 non-null   object
 5   address.district.@id            1845 non-null   object
 6   address.locality                1845 non-null   object
 7   address.postal-code             1848 non-null   object
 8   address.street-address          1848 non-null   object
 9   location.latitude               1792 non-null   float64
 10  location.longitude              1792 non-null   float64
 11  organization.organization-desc  1848 non-null   object
 12  organization.organization-name  1848 non-null   object
 13  address.area.@id                1711 non-null   object
dtypes: float64(2), object(12)
memory usage: 202.2+ KB

In [17]:
#Revisando los valores nulos de la tabla

null_cols = df.isnull().sum()
null_cols[null_cols > 0]

address.district.@id      3
address.locality          3
location.latitude        56
location.longitude       56
address.area.@id        137
dtype: int64

### DF DEFINITIVO MONUMENTOS MADRID = df_monu

In [18]:
#vamos a crear un df con las columnas e información que nos interesan.

df_monu = df[['title', 'address.street-address', 'location.latitude' , 'location.longitude']]
df_monu

,title,address.street-address,location.latitude,location.longitude
0,A las víctimas del Holocausto,JARDIN TRES CULTURAS,40.464322,-3.603558
1,A los Abuelos,C Alicún,40.479812,-3.661719
2,A Neruda-El Ser alado,Gta José Luis Ozores 116,40.381855,-3.652419
3,Abogados Laboristas,C Atocha 55,40.412911,-3.700017
4,Abstracta I,,40.421746,-3.662293
...,...,...,...,...
1843,Álvaro Iglesias Sánchez,CALLE CARRANZA 7,40.429000,-3.703131
1844,Ángeles de la Paz,Avda Bruselas,40.443023,-3.664153
1845,Árbol de la Vida,JARDIN TRES CULTURAS,40.464322,-3.603558
1846,Íñigo Arista,Pza Oriente,40.417710,-3.712172
1847,Órgano,C Castelló 77,40.431113,-3.681166

# 3º) DISTANCIA MENOR ENTRE PUNTOS

### Funciones facilitadas

In [21]:
from shapely.geometry import Point
import geopandas as gpd   # conda install -c conda-forge geopandas

In [30]:
def to_mercator(lat, long):
    # transform latitude/longitude data in degrees to pseudo-mercator coordinates in metres
    c = gpd.GeoSeries([Point(lat, long)], crs=4326)
    c = c.to_crs(3857)
    return c

def distance_meters(lat_start, long_start, lat_finish, long_finish):
    # return the distance in metres between to latitude/longitude pair point in degrees (i.e.: 40.392436 / -3.6994487)
    start = to_mercator(lat_start, long_start)
    finish = to_mercator(lat_finish, long_finish)
    return start.distance(finish)

### Test de las funciones

In [31]:
to_mercator(df_bic['location.latitude.bic'][0], df_bic['location.longitude.bic'][0])

0    POINT (4499223.648 -412373.285)
dtype: geometry

In [33]:
to_mercator(df_monu['location.latitude'][0], df_monu['location.longitude'][0])

0    POINT (4504467.691 -401410.940)
dtype: geometry

In [34]:
distance_meters(df_monu['location.latitude'][0], df_monu['location.longitude'][0], df_bic['location.latitude.bic'][0], df_bic['location.longitude.bic'][0])

0    12152.077352
dtype: float64

### Magia

In [40]:
# vamos a crear una función que para un único punto de interés muestre la distancia con cada una de las estaciones.

df_nuevo = df_monu.head(1)
df_nuevo

,title,address.street-address,location.latitude,location.longitude
0,A las víctimas del Holocausto,JARDIN TRES CULTURAS,40.464322,-3.603558

In [41]:
df_nuevo['distancia'] = df_nuevo[distance_meters(df_monu['location.latitude'][0], df_monu['location.longitude'][0], df_bic['location.latitude.bic'][0], df_bic['location.longitude.bic'][0])]

KeyError: "None of [Float64Index([12152.077352437933], dtype='float64')] are in the [columns]"